body {
  margin: 0;
  font-family: "Roboto";
  font-weight: bold;
}

header {
  background: #03a9f4;
  text-align: center;
}

.logo {
  color: #fff;
  font-size: 40px;
  font-family: "Anton";
}

.Heading {
  text-align: center;
  font-family: Verdana;
}

header input {
  font-size: 20px;
  margin: 20px 0;
}

.new_item {
  background: RGBA(200, 200, 200, 0.4);
  font-style: italic;
  font-size: 14px;
  margin: 40px;
  padding-bottom: 10px;
  text-align: center;
}
.new_title {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background: RGBA(120, 120, 120, 0.4);
}
